// bower:scss
@import "grid/grid-settings";
@import "../../bower_components/neat/app/assets/stylesheets/neat";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/font-awesome/scss/font-awesome";
@import "../../bower_components/owl-carousel/owl-carousel/owl.carousel.css";
@import "../../bower_components/owl-carousel/owl-carousel/owl.theme.css";
// endbower
@import "variables";
@import "common";
@import "fonts";
@import "header";
@import "content";
@import "footer";

a, p {
  color: $link-color;
}

h2 {
  font-size: em(44);
  @include media($tablet) {
    font-size: em(20);
  }
  writing-mode: vertical-rl;
}

h2, h3 {
  font-family: 'Playfair-Regular', serif;
  font-weight: 500;
  letter-spacing: em(1);
}

h3.featured {
  font-size: em(50);
  @include media($tablet) {
    font-size: em(40);
    word-spacing: em(80);
  }
}

h3 {
  font-size: em(30);
  text-transform: uppercase;
  @include media($tablet) {
    font-size: em(26);
  }
}

h4.article-title {
  font-family: "SofiaSemibold", serif;
  font-size: em(16);
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-family: "SofiaExtLight", serif;
  font-weight: 400;
  letter-spacing: em(1);
  font-size: em(16);
  line-height: em(24);
  @include media($tablet) {
    font-size: em(14);
  }
}

a {
  font-family: "SofiaSemibold", serif;
  text-decoration: none;
  letter-spacing: em(2);
}

body {
  background-color: $bg-color;
  padding: 30px 40px;
  @include media(max-width 767px) {
    padding: 30px 10px;
  }
  @include media($tablet) {
    padding: 30px 0;
  }
  @include media($laptop) {
    padding: 30px 10px;
  }
  margin: 0;
}
