@import "../../../bower_components/neat/app/assets/stylesheets/neat-helpers";

// Change the grid settings
$column: 90px;
$gutter: 10px;
$grid-columns: 12;
$max-width: 1170px;

// Define breakpoints
$desktop: new-breakpoint(min-width 1170px 12);
$laptop: new-breakpoint(min-width 1366px max-width 1440px 12);
$tablet: new-breakpoint(min-width 768px max-width 1170px 12);
$mobile: new-breakpoint(min-width 480px max-width 768px 12);
$xs-mobile: new-breakpoint(min-width 320px max-width 480px 12);
$xs-sm: new-breakpoint(min-width 320px max-width 768px 12);
